* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

header h1{
    font-size: 18px;
}
header .container {
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 50px;
  }


nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #6b7280;
    font-size: 18px;
}
a {
    text-decoration: none;
}
  

nav a:hover {
    color: #5A67D8;
}

.learn-about .container h2 {
    font-size: 24px;
    color: #48BB78;
}
.overview-hero .container{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.overview-hero {
    background-color: #E2E8F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.overview-hero p {
    padding-top: 20px;
}
  
.overview-hero-image img {
    max-width: 100%;
    height: auto;
}


.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding-top: 40px;
}

.learn-about .container{
    display: inline-flexbox;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    
}

.card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 700px;
    padding-top: 10px;
    padding-left: 10px;
}

.card h3 {
    color: #48BB78;
    font-size: 21px;
    padding-top: 40px;
    padding-bottom: 5px;
}
.testing .container {
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.testing {
    background-color: #4A5568;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding: 100px;
}

.stories .container {
    display: inline-flexbox;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cta .btn {
    background-color: #48BB78;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.stories {
    padding-top: 100px;
    padding-bottom: 100px;
}

.stories article {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.stories article img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.stories article a {
    color: #5A67D8;
}
.stories article h3{
    font-size: 18px;
}
.stories .container h2 {
    color: #5A67D8;
    padding-bottom: 50px;
} 
.article-body h3 {
    padding-bottom: 20px;
}
.article-body p {
    padding-top: 20px;
}

.newsletter {
    background-color: #48BB78;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.newsletter .container{
    display: inline-flexbox;
    
}
.newsletter .container h3{
    padding-bottom: 20px;
    
}
.newsletter .btn {
    background-color: #5A67D8;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

form {
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}


.form-group {
    margin: 10px; 
}

input[type="email"] {
    width: 100%; 
    max-width: 200px; 
    padding: 20px
}


footer {
    background-color: #4A5568;
    color: white;
    padding: 20px 0;
}

footer .container {
    display: inline-flexbox;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}